@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Cairo|Calligraffitti|Kaushan+Script|Lato|Oswald:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Orbitron");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Orbitron", "Lato", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  fontfamily: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

img {
  max-width: 50%;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  img {
    width: 100%;
  }
}

a {
  text-decoration: none;
  font-size: 3.5vh;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  a {
    font-size: 3.8vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  a {
    font-size: 4vh;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  top: -4vh;
  position: relative;
  right: 4vh;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
  .icons {
    right: 6vh;
  }
}

.date {
  margin: 0;
  line-height: 1.2;
  display: block;
  position: relative;
  top: 30px;
  flex-direction: column;
  text-shadow: 1px 1px 1px #000;
  right: -2vh;
  color: #be920b;
  font-size: 15px;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  .date {
    top: 30px;
    right: -10vh;
  }
}

@media screen and (min-width: 480px) and (orientation: landscape) {
  .date {
    font-size: 17px;
    right: -11vh;
  }
}

@media screen and (min-width: 550px) and (orientation: landscape) {
  .date {
    font-size: 17px;
    right: -14vh;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .date {
    right: -26vh;
  }
}

@media screen and (min-width: 850px) and (orientation: landscape) {
  .date {
    right: -43vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .date {
    right: -50vh;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .date {
    right: -65vh;
  }
}

@media screen and (min-width: 1400px) and (orientation: landscape) {
  .date {
    right: -70vh;
  }
}

.search {
  position: absolute;
  top: 16.5vh;
  right: -1vh;
  cursor: pointer;
}

@media screen and (min-width: 850px) and (orientation: landscape) {
  .search {
    right: -5.5vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .search {
    right: -5vh;
  }
}

.search > input {
  padding: 5px;
  width: 13em;
}

.position {
  display: block;
  position: absolute;
  top: 7em;
}

.icon-search {
  z-index: 1500;
  position: absolute;
  right: 2vh;
  top: 2px;
  line-height: 0;
  color: #1f5870;
  font-size: 5vh;
  cursor: pointer;
}

.main-header {
  background: #fff;
  height: 16vh;
  box-shadow: 1px 1px 1px #be920b, 2px 1.2px 1.5px #be920b, 3px 2px 2.3px #be920b, 4px 4px 4px #be920b;
}

.main-header .navheader {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .icon-bars {
  position: absolute;
  top: 0;
  z-index: 2500;
  font-size: 5vh;
  color: #1f5870;
  line-height: 0;
  cursor: pointer;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .main-header .icon-bars {
    display: none;
  }
}

.main-header .img-logo {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 22vh;
  padding: .4em 0;
  border: none;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  .main-header .img-logo {
    width: 26vh;
    top: -4px;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .main-header .img-logo {
    width: 28vh;
  }
}

.sticky {
  box-shadow: 3px 3px 4px #be920b;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
}

.main-nav {
  z-index: 10000;
  position: fixed;
  top: 16.5vh;
  width: 100%;
  opacity: .93;
  width: 100%;
}

.main-nav.mostrar {
  right: -100%;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .main-nav {
    width: 100%;
    top: 16.7vh;
  }
}

.main-menu {
  margin: 0;
  position: relative;
  left: 0;
  width: 80%;
  list-style: none;
  height: 100vh;
  background-image: linear-gradient(90deg, #000 30%, #1f5870 70%);
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .main-menu {
    text-align: center;
    width: 68%;
    background: #fff;
    display: flex;
    font-size: 1em;
    justify-content: center;
    top: -17.9vh;
    height: auto;
    left: 10em;
  }
}

.main-menu__item {
  position: relative;
  width: 100%;
  cursor: pointer;
  opacity: .8;
  border-bottom: 1px dashed #1f5870;
  margin: .2px;
}

.main-menu__item:hover {
  opacity: 1;
  color: #be920b;
  transition: all .2s linear;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .main-menu__item {
    border-bottom: none;
    margin-right: 10px;
  }
}

.main-menu__item .icon-menu1 {
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
  font-weight: 300;
  position: absolute;
  right: 5vw;
  top: 8px;
  line-height: 0;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  .main-menu__item .icon-menu1 {
    top: 25%;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .main-menu__item .icon-menu1 {
    display: none;
  }
}

.main-menu__link {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  color: #fff;
  width: 100%;
  padding: .5em .4em;
  font-weight: 300;
  position: relative;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .main-menu__link {
    background: #666666;
    opacity: .7;
    position: absolute;
    top: 3vh;
    font-size: 1.2em;
    transition: all .4s linear;
    text-shadow: 2px 2px 2px #000, 3px 3px 2px #000, 4px 4px 4px #000;
  }
}

.main-menu__link:hover {
  transition: all .3s linear;
  color: #be920b;
  width: 100%;
  text-shadow: 2px 2px 2px #000;
}

.main-body {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1vh;
  height: 100vh;
  background-image: url(".../IMG/large_fondo1.jpg");
  background-attachment: fixed;
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

[class^="text"] {
  background-image: url(".../IMG/large_fondo1_blurr.png");
  background-attachment: fixed;
  background-position: center 50%;
  background-size: cover;
  position: relative;
  top: 25rem;
  margin: 0;
  padding: 5px 30px;
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #be920b;
  font-weight: bold;
  font-size: 5vh;
  text-shadow: 2px 2px 1px #000, 3px 3px 2px #000, 4px 4px 3px #fff, 5px 5px 4px #fff, 6px 6px 9px #000;
}

.text-primary {
  letter-spacing: 1px;
  word-spacing: 10px;
  font-size: 4vh;
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
  .text-primary {
    font-size: 6vh;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .text-primary {
    font-size: 7vh;
  }
}

.secondary-body {
  letter-spacing: .6px;
  word-spacing: 3px;
  position: relative;
  top: 10vh;
  margin: 5vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  grid-auto-flow: column;
}

.secondary-body:first-child {
  top: 2vh;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .secondary-body {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 4fr;
  }
}

.secondary-body_coment {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 2em;
  background: #cccccc;
  line-height: 4vh;
  color: rgba(0, 0, 0, 0.6);
}

.secondary-body_image {
  padding: 1.5vh 0;
  background: #333333;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .secondary-body_image {
    padding: 0;
  }
}

.secondary-body_image .foto {
  background-image: url(".../IMG/foto3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .secondary-body_image .foto {
    height: 39vh;
  }
}

.secondary-body .foto2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(".../IMG/android.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
}

.container-skew {
  margin: 1.5em 0;
  position: relative;
  top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(".../IMG/computers1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-skew {
    flex-direction: row;
    justify-content: center;
  }
}

.container-skew .skew-item {
  margin-top: 10em;
  display: grid;
  grid-tamplate-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  grid-gap: 20px;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-skew .skew-item {
    display: flex;
    margin: 3em;
  }
}

.skew {
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #999180;
  background: #cccccc;
  background: url(".../IMG/computers1_gau.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 2px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000;
  border-radius: 10px;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .skew {
    background: url(".../IMG/computers1_gau.jpg");
    background-attachment: fixed;
    background-position: center;
    padding: 2em;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 7em;
  }
}

.skew:nth-child(4) {
  margin-bottom: 5px;
}

.footer {
  letter-spacing: .6px;
  word-spacing: 3px;
  width: 100%;
  align-self: flex-start;
  padding-top: 2em;
  background-image: url(".../IMG/large_fondo2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 20vh;
  padding-bottom: 2em;
  text-align: center;
}

.footer::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  opacity: .8;
  background-image: linear-gradient(#fff 20%, #1f5870 80%);
}

.footer .sociales {
  position: relative;
  z-index: 1900;
}

.social-icon {
  font-size: 2.4em;
  display: inline-block;
  margin: 0 .2em;
  color: #be920b;
  text-shadow: 1px 1px 1px #000;
  opacity: .7;
}

.social-icon:hover {
  opacity: 2;
  color: #1e556c;
  transform: scale(1.7);
  transition: all .1s;
}

.data-info {
  font-weight: 600;
}

.social-phone {
  font-size: 2em;
  color: #be920b;
  text-shadow: 1px 1px 1px #000;
}

.social-phone:hover {
  color: #fff;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  display: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 64px;
  background-image: url(".../IMG/arrow-down-64-wihite.png");
  position: relative;
  right: 0rem;
  z-index: 4000;
  transform: rotate(180deg);
  cursor: pointer;
}

.l-container {
  margin: 0 2em;
  text-align: center;
  max-width: 100%;
}



@media screen and (min-width: 850px) and (orientation: landscape) {
  .l-container {
    margin: 0 4em;
  }
}
