//Funcion que enruta  la imagen
//ruta para subirlo a github
$path:'./IMG/'; 
// --------------------------
 //Variable para desarrollo
// $path:'/IMG/'; 

@function img($img){
  @return url($path+$img);
}






// PALETA DE COLORES
$color1:#1f5870; //azul marino
$color2:#be920b; //amarillo
$color3:#fff;  //blanco
$color4:#000;  //negro
$color5:#999999; //gris
//FUENTES
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Cairo|Calligraffitti|Kaushan+Script|Lato|Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron');
$font-title:'Oswald', sans-serif;
$font-texto:'Orbitron','Lato', sans-serif;
//ANCHO FUENTES
$light: 300;
$normal:400;
$bold:600;
// TAMAÑO DE FUENTES -no estan siendo usados aun
$size_titles:2.5em;
$size-menutitles:1.2em;
$size_subtitles:1.5em;
$size_text: 1em;
$size_link:10px;

//LAYAUT
$max-width: 100%;

//of-canvas 23em  en funcion del ancho del viewport
$offcanvas-width:100%;


//mixin para media query
@mixin desde($size){
  @media screen and (min-width: $size) and (orientation: landscape){
    @content;
  }
}
$zindex: 1000 1010 1020 1030 1040;

//breakpoints
$small: 320px;
$small2:480px;
$small3:550px;  //591
$medium:768px;
$medium2:850px;
$large:1024px;
$large2:1200px;

$x-large:1400px;



//IMPORTS
// @import "components/functions"
@import "components/base";
@import "components/header";
@import "components/menu";
@import "components/body";
@import "components/secondary-body";
@import "components/container-skew";
@import "components/footer";
@import "components/l-container";

