
.icons{
  display: flex;
  flex-direction: column;
  top: -4vh;
  position:relative;
  right:4vh;
  @include desde($small2){
        right: 6vh;
  }
}
.date{
  margin: 0;
  line-height: 1.2;
  display: block;
  position:relative;
  top:30px;
  flex-direction: column;
  text-shadow: 1px 1px 1px $color4;
  right: -2vh;
  color:$color2;
  font-size: 15px;
  @include desde($small){
        top: 30px;
        right: -10vh;
  }
  @include desde($small2){
    font-size: 17px;
    right: -11vh;
  }
   @include desde($small3){
    font-size: 17px;
    right: -14vh;
  }
  @include desde($medium){
        right: -26vh;
  }
   @include desde($medium2){
        right: -43vh;
  }
   @include desde($large){
        right: -50vh;
  }
    @include desde($large2){
        right: -65vh;
  }
    @include desde($x-large){
        right: -70vh;
  }

}
.search{
  position: absolute;
  top:16.5vh; 
  right:-1vh;
  cursor:pointer;
  @include desde($medium2){
         right: -5.5vh;
      }
  @include desde($large){
         right: -5vh;
      }
  & > input {
      padding:5px;
      width: 13em;
      // display:none;  //quitelo y haga que aparesca con js.

  }
}
.position{
  display:block;
  position:absolute;
  top: 7em;
}

.icon-search{
      z-index: 1500;
     
      position: absolute;
      right: 2vh;
      top: 2px;
      // right:0;
      line-height: 0;
      color: $color1;
      font-size: 5vh;
      cursor:pointer;
}

.main-header{
    background:$color3; 
    height: 16vh;
     box-shadow: 1px 1px 1px $color2,
                2px 1.2px 1.5px $color2,
                3px 2px 2.3px $color2,
                4px 4px 4px $color2;
    
& .navheader{
      width: 100%;
      position:relative;
      margin: 0 auto;    
      display: flex;
     justify-content: space-between;
     align-items:center;
}

  .icon-bars{
            position:absolute;
            top:0;
            z-index: 2500;

            font-size: 5vh;            
            color: $color1;
            line-height: 0;
            cursor:pointer;
          @include desde($large){
                display:none;
            }
          }
          .img-logo{
            position:relative;
            cursor:pointer;
            display: inline-block;
            width: 22vh;
            padding: .4em 0;  
            border:none;  
          @include desde($small){
            width: 26vh;  
            top: -4px;          
          }   
           @include desde($medium){
            width: 28vh;            
          }       
   }
}
 
//header pegado con fixed
 .sticky{
    box-shadow: 3px 3px 4px $color2;
    position: fixed;
    top:0;
    width: 100%;
    background: $color3;
    z-index: 1000;
  }
