//Grid de 12 columnas
@mixin grid($cols,$cols-total:12){
   width: percentage($cols/$cols-total);
   @content;
}

.secondary-body{
  position:relative;
  top:  15vh ; //bajar todo el secondary_body
  margin: 5vh;
  padding-top: 50px;
  display:flex;
  flex-direction:column;

  grid-auto-flow:column;
    @include desde($medium){
      display: grid;        
      grid-gap:20px;  //separacion entre columnas
      grid-template-columns:2fr 4fr;  
    }    
  &_coment{
      // font-size: 1.8em;
      display: flex;
      align-items: center;
      margin: 0 ;
      padding: 2em;
      background: lighten($color4,80%);   
      line-height: 4vh;
      color:rgba($color4,.6);
  }
    &_image{
      padding: 1.5vh 0;
      background:lighten($color4,20%);
          @include desde($large){
             padding:0;
          }
      .foto{
      background-image:img("foto3.png");
      background-size: contain;
      background-repeat:no-repeat;
      background-position:center;
      height: 50vh;
          @include desde($large){
              height: 39vh;


          }
      }    
    }
}